.node-red-data/flows.json
[
    {
        "id": "b04f078d9283f9d7",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d35e3bd91e5a1209",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mytb",
        "port": "1883",
        "clientid": "q1dx4IK6VipQ9XwDAX8i",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "21d4497b371d500d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mytb",
        "port": "1883",
        "clientid": "q1dx4IK6VipQ9XwDAX8i",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "73b31d836c325695",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mytb",
        "port": "1883",
        "clientid": "Up4A41iDmX69X8OVuWCF",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2ec7a0b63f199425",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mytb",
        "port": "1883",
        "clientid": "NeqiVxTAKj9Ab3l8iZBV",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "afe80dcef4c31911",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mytb",
        "port": "1883",
        "clientid": "E2LPQHWTs1U4iBpcvy3A",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "110a54e0131729e8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mytb",
        "port": "1883",
        "clientid": "jMe3QpBjaGAybpBYaikX",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bf48ef90aeb07ad3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mytb",
        "port": "1883",
        "clientid": "BWe3XrXJXE4b0HX5qFYO",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2b7c2a3923bf6d11",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mytb",
        "port": "1883",
        "clientid": "KG3p2ldHhWbhHOVQVPNO",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dedebf9df8fe2a9f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mytb",
        "port": "1883",
        "clientid": "Hr73n9nHyYhA1sLTZpvE",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "fe73395e865195c0",
        "type": "inject",
        "z": "b04f078d9283f9d7",
        "name": "Источник температуры",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "data",
        "payloadType": "str",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "c8f2d7c471a7ceb2"
            ]
        ]
    },
    {
        "id": "fc46235ec1da4954",
        "type": "inject",
        "z": "b04f078d9283f9d7",
        "name": "Источник давления",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "0275a95fbaef8048",
                "82513d4cb7b1c1a8",
                "a67a418b96b80f26",
                "85cf69cdafb342ee"
            ]
        ]
    },
    {
        "id": "eed9bcc63aab3389",
        "type": "inject",
        "z": "b04f078d9283f9d7",
        "name": "Источник скорости",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "3be4f4eb80216967"
            ]
        ]
    },
    {
        "id": "0275a95fbaef8048",
        "type": "function",
        "z": "b04f078d9283f9d7",
        "name": "Pressure 1",
        "func": "const payload = {Pressure: 2.1 + (Math.random() - 0.5) / 5};\nmsg.payload = JSON.stringify(payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 340,
        "wires": [
            [
                "51b3922eb0c7dd3a",
                "0d61f3dd7c4563f8"
            ]
        ]
    },
    {
        "id": "82513d4cb7b1c1a8",
        "type": "function",
        "z": "b04f078d9283f9d7",
        "name": "Pressure 2",
        "func": "const payload = {Pressure: 2.1 + (Math.random() - 0.5) / 5};\nmsg.payload = JSON.stringify(payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 500,
        "wires": [
            [
                "e24328c254703cc3"
            ]
        ]
    },
    {
        "id": "a67a418b96b80f26",
        "type": "function",
        "z": "b04f078d9283f9d7",
        "name": "Pressure 3",
        "func": "const payload = {Pressure: 2.3 + (Math.random() - 0.5) / 5};\nmsg.payload = JSON.stringify(payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 560,
        "wires": [
            [
                "a277d51575117489"
            ]
        ]
    },
    {
        "id": "85cf69cdafb342ee",
        "type": "function",
        "z": "b04f078d9283f9d7",
        "name": "Pressure 4",
        "func": "const payload = {Pressure: 2.3 + (Math.random() - 0.5) / 5};\nmsg.payload = JSON.stringify(payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 620,
        "wires": [
            [
                "b11cfdfee8163b89"
            ]
        ]
    },
    {
        "id": "c8f2d7c471a7ceb2",
        "type": "function",
        "z": "b04f078d9283f9d7",
        "name": "Outside Temperature",
        "func": "function randomInteger(min, max) {\n  let rand = min - 0.5 + Math.random() * (max - min + 1);\n  return Math.round(rand);\n}\nconst payload = {TemperatureOutside: randomInteger(-25, 35)};\nmsg.payload = JSON.stringify(payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 100,
        "wires": [
            [
                "92f1a7773f537524",
                "803ab2b4daa0c436",
                "dcde4fb3155bbe6e"
            ]
        ]
    },
    {
        "id": "803ab2b4daa0c436",
        "type": "function",
        "z": "b04f078d9283f9d7",
        "name": "Inside Temperature",
        "func": "let data = JSON.parse(msg.payload);\ndata.TemperatureInside = data.TemperatureOutside + 10 * Math.random();\ndata.TemperatureInside = Math.round(data.TemperatureInside);\ndelete data.TemperatureOutside\n\nmsg.payload = JSON.stringify(data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 180,
        "wires": [
            [
                "bf8d0f08a8e3f750",
                "4ea4f5947d429cc9"
            ]
        ]
    },
    {
        "id": "3be4f4eb80216967",
        "type": "function",
        "z": "b04f078d9283f9d7",
        "name": "Speed func",
        "func": "const payload = {Speed: 55 + 5*Math.random()};\nmsg.payload = JSON.stringify(payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 700,
        "wires": [
            [
                "ccf02879b25fa89c"
            ]
        ]
    },
    {
        "id": "92f1a7773f537524",
        "type": "debug",
        "z": "b04f078d9283f9d7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "bf8d0f08a8e3f750",
        "type": "debug",
        "z": "b04f078d9283f9d7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "dcde4fb3155bbe6e",
        "type": "mqtt out",
        "z": "b04f078d9283f9d7",
        "name": "Термометр 1",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73b31d836c325695",
        "x": 1080,
        "y": 100,
        "wires": []
    },
    {
        "id": "4ea4f5947d429cc9",
        "type": "mqtt out",
        "z": "b04f078d9283f9d7",
        "name": "Термометр 2",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "21d4497b371d500d",
        "x": 1080,
        "y": 180,
        "wires": []
    },
    {
        "id": "51b3922eb0c7dd3a",
        "type": "debug",
        "z": "b04f078d9283f9d7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 400,
        "wires": []
    },
    {
        "id": "0d61f3dd7c4563f8",
        "type": "mqtt out",
        "z": "b04f078d9283f9d7",
        "name": "Давление 1",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2ec7a0b63f199425",
        "x": 1070,
        "y": 340,
        "wires": []
    },
    {
        "id": "a277d51575117489",
        "type": "mqtt out",
        "z": "b04f078d9283f9d7",
        "name": "Давление 3",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "afe80dcef4c31911",
        "x": 1070,
        "y": 560,
        "wires": []
    },
    {
        "id": "e24328c254703cc3",
        "type": "mqtt out",
        "z": "b04f078d9283f9d7",
        "name": "Давление 2",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "110a54e0131729e8",
        "x": 1070,
        "y": 500,
        "wires": []
    },
    {
        "id": "b11cfdfee8163b89",
        "type": "mqtt out",
        "z": "b04f078d9283f9d7",
        "name": "Давление 4",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bf48ef90aeb07ad3",
        "x": 1070,
        "y": 620,
        "wires": []
    },
    {
        "id": "ccf02879b25fa89c",
        "type": "mqtt out",
        "z": "b04f078d9283f9d7",
        "name": "Спидометр",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2b7c2a3923bf6d11",
        "x": 1070,
        "y": 700,
        "wires": []
    },
    {
        "id": "851457d64f2d30fc",
        "type": "inject",
        "z": "b04f078d9283f9d7",
        "name": "Источник координат",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"lat\":56.30165597851118,\"lon\":43.98405184777608}",
        "payloadType": "str",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "31aafd3ca47a4a17"
            ]
        ]
    },
    {
        "id": "31aafd3ca47a4a17",
        "type": "function",
        "z": "b04f078d9283f9d7",
        "name": "Lat and lon func",
        "func": "const eps = 500;\nlet payload = JSON.parse(msg.payload)\n\nif (payload.lat && payload.lon) {\n    let {lat, lon} = payload;\n    payload = {lat: lat + Math.random() / eps,\n               lon: lon + Math.random() / eps};\n}\n\nmsg.payload = JSON.stringify(payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 820,
        "wires": [
            [
                "8c00402f35850296",
                "3e5de4786407ddbb"
            ]
        ]
    },
    {
        "id": "8c00402f35850296",
        "type": "mqtt out",
        "z": "b04f078d9283f9d7",
        "name": "GPS",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dedebf9df8fe2a9f",
        "x": 1040,
        "y": 820,
        "wires": []
    },
    {
        "id": "3e5de4786407ddbb",
        "type": "debug",
        "z": "b04f078d9283f9d7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 940,
        "wires": []
    }
]